
@{
    ViewBag.Title = "Info";
}


<div class="text-center">
    <img src="~/Content/assets/img/CactusIcon.png" class="rounded" alt="...">
    <h2>Please confirm your email before logging in!</h2>
</div>

