<div class="row no-gutters m-3 center-block">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Please create an account.</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Create", "Home", FormMethod.Post))
            {
 
                //the above line is generating a form tag with some attributes inside of it
                <div class="row center-block">
                    <div class="form-group col-md-11">
                        <input name="firstName" type="text" class="form-control" placeholder="First Name" />
                    </div>
                    <div class="form-group col-md-11">
                        <input name="lastName" type="text" class="form-control" placeholder="Last Name" />
                    </div>
                    <div class="form-group col-md-11">
                        <input name="emailAddress" type="text" class="form-control" placeholder="Email Address" />
                    </div>
                    <div class="form-group col-md-11">
                        <input name="password" type="text" class="form-control" placeholder="Password" />
                    </div>
                    <button type="submit" class="btn btn-primary no-gutters center-block">Submit</button>
                </div>
            }
        </div>
    </div>
</div>