@model TechAcadStudentsMVC.Models.Instructor 

@{
    ViewBag.Title = "Instructor";
    //the lowercase "model" in line 1 is used to reference the Instructor Class in the Models folder, we then use the uppercase "Model" in the LI tag to reference the properties
}

<h5>Details for instructor with ID: @ViewBag.Id</h5>

<p>
    Further details about the instructor:
</p>

<ul>
    <li>Another Id: @Model.Id</li>
    <li>First Name: @Model.FirstName</li>
    <li>Last Name: @Model.LastName</li>
</ul>

